@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

@layer base {
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background: currentColor;
  }

  ::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 7px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: white;
    opacity: 50%;
  }
}

@layer components {
  .dancingFont {
    font-family: "Dancing Script", cursive;
  }
}
